<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
    <title>Mas viajes</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="css/estilos.css">
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src="js/funciones.js"></script>
</head>
<body>
   <section class="section-main">
   	<center>
	   <div class="container">
	       <div class="row">
	    		<div class="col-md-6">
	    			<img src="images/logomviajes.png">
	    		</div>
	    		<div class="col-md-6">
	    			<span class="glyphicon glyphicon-user"></span>&nbsp;<a href="">Usuario Pedrito</a>&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-log-out"></span>&nbsp;<a href="">Salir</a>
	    		</div>
	    		<div class="espacio"></div>
	    		<div class="espacio"></div>
	    		<div class="espacio"></div>
	    		<p class="medium"><b>Control de Pagos</b></p>
	       	  	<div class="col-md-12" style="border:1px solid silver; border-radius:5px">
	       	  		<div class="espacio"></div>
	       	  		<div class="col-md-4">
	       	  			<button type="button" class="btn btn-primary" onclick="formu_pago();">Agregar Pago</button>
	       	  		</div>
	       	  		<div class="col-md-4">
	       	  			<p class="small"><b>Filtrar por:</b></p>
			       			<select class="form-control" style="width:150px;" id="buscar">
			       				<option>Seleccionar</option>
			       				<option value="cliente">Cliente</option>
			       				<option value="fecha">Fecha</option>
			       			</select>
			       		<div class="div-cliente">
			       			<ul>
			       				<li><input type="text" class="form-control" placeholder='Ingresa Cliente'></li>
			       				<li><button type="submit" class="btn btn-success">Buscar</button></li>
			       			</ul>
			       		</div>
			       		<div class="div-fecha">
			       			<ul>
			       				<li>De <input type="date" class="form-control"> a <input type="date" class="form-control"></li>
			       				<li><button type="submit" class="btn btn-success">Buscar</button></li>
			       			</ul>
			       		</div>
	       	  		</div>
	       	  		<div class="col-md-4">
	       	  			<button type="button" class="btn btn-primary">Imprimir</button>
	       	  		</div>
	       			
	       			<div class="espacio"></div>
	       			<div class="espacio"></div>
	       			<div class="espacio"></div>
	       			<div class="espacio"></div>
	       			<!--
					begin GRILLA PARA AJAX
	       			-->

	       			<div id="ajaxGrilla">
	       				<table class="table table-striped">
	       				<thead>
	       					<tr>
		       					<th>Cliente</th>
		       					<th>Fecha</th>
		       					<th>Monto</th>
		       				</tr>	
	       				</thead>
	       				<tbody>
	       					<tr>
		       					<td>Juan Perez</td>
		       					<td>28/07/15</td>
		       					<td>$350.00</td>
		       				</tr>
		       				<tr>
		       					<td>Juan Perez</td>
		       					<td>28/07/15</td>
		       					<td>$350.00</td>
		       				</tr>
		       				<tr>
		       					<td>Juan Perez</td>
		       					<td>28/07/15</td>
		       					<td>$350.00</td>
		       				</tr>
		       				<tr>
		       					<td>Juan Perez</td>
		       					<td>28/07/15</td>
		       					<td>$350.00</td>
		       				</tr>
		       				<tr>
		       					<td>Juan Perez</td>
		       					<td>28/07/15</td>
		       					<td>$350.00</td>
		       				</tr>
		       				<tr>
		       					<td>Juan Perez</td>
		       					<td>28/07/15</td>
		       					<td>$350.00</td>
		       				</tr>
		       				<tr>
		       					<td>Juan Perez</td>
		       					<td>28/07/15</td>
		       					<td>$350.00</td>
		       				</tr>
		       				<tr>
		       					<td>Juan Perez</td>
		       					<td>28/07/15</td>
		       					<td>$350.00</td>
		       				</tr>
		       				<tr>
		       					<td>Juan Perez</td>
		       					<td>28/07/15</td>
		       					<td>$350.00</td>
		       				</tr>
		       				<tr>
		       					<td>Juan Perez</td>
		       					<td>28/07/15</td>
		       					<td>$350.00</td>
		       				</tr>
		       			</tbody>
	       			</table>
	       			</div>
	       			<!-- end grilla ajax -->
	       		</div>
	       	  </div>

	   </div>
	   </center>
	</section>
	<div class="espacio"></div>
	<div class="espacio"></div>
	<div class="espacio"></div>
	<div class="espacio"></div>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>