#popup-cerrar-sesion, #popup-vista-pagos, #popup-vista-clientes {

left: 0;
margin:0;
padding: 0;
position: absolute;
top: 0;
width: 100%;
z-index: 20;
}

.content-popup {
    margin:0px auto;
    margin-top:100px;
    position:relative;
    padding:10px;
    width:400px;
    min-height:150px;
    border-radius:4px;
    background-color:#F2f2f2;
    box-shadow: 0 2px 5px #666666;
    z-index: 20;
}
    .content-popup ul{
        list-style:none;
    }

    .content-popup #divRecuperaPassword{
        display:none;
    }

.content-popup h2 {
    color:#48484B;
    border-bottom: 1px solid #48484B;
    margin-top: 0;
    padding-bottom: 4px;
}

.popup-overlay {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    display:none;
    background-color: #777777;
    cursor: pointer;
    opacity: 0.7;
}

.close, .close-clientes {
    position: absolute;
    right: 15px;
}

.divOculto{
    display:none;
}

/* oscurecer la pantalla para los popups de registro, login, etc*/
#oscurecer { /* este es el div inferior, que ocupará toda la ventana */
    background-color:#000;
    opacity:0.9;
    filter:alpha(opacity=90);
    position: absolute;
    margin:0;
    padding: 0;
    z-index: 20;
    left: 0;
    top: 0;
}
